/*! (c) 2016 數位甜心 */

@mixin background-size($cover) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -o-background-size: $cover;
  background-size: $cover;
}

@mixin transition($all, $second, $linear) {
  -webkit-transition: $all $second $linear;
  -moz-transition: $all $second $linear;
  transition: $all $second $linear;
}

@mixin font-style($font-weight, $display) {
  font-weight: $font-weight;
  display:$display;
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow-none {
	-webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}   
}

@mixin border-top-only($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}