/*! (c) 2016 數位甜心 */
/* Mobile device */
@media (max-width: $break-xsmall) {
  #hero hr { 
      width: 70%; 
      display: block; 
      margin-top: 5px; 
      margin-bottom: 5px;
      .btn-3d { 
       margin: 0px 0px 15px 0px; 
       }
      .hero-small span { 
       margin: 0 !important; 
      }
      .hero-content { 
       top: 57%; 
      }
      .hero-big { 
       font-size: 50px !important; 
       line-height: 70px; 
       margin-top: 10px; 
      }
      .hero-normal {
       font-size: 18pt; 
       margin: 0px 0px 20px 0px;
      }
    }
  .icon {
   &.errorsign-icon {
    margin: 0 8% 2% 0;
   }
  }  
  .navigation-social li {
    padding-top: 40px;
    a { 
     padding: 0 12px; 
    }
  }
  
  .pricing-col { 
    width: 100% !important; 
  }
  
  .nav-tabs-simple { 
    margin-top:25px;
    .nav-tabs li a { 
     font-size: 20px; 
     padding: 0; 
    }    
  }
  
  #subscribe .btn {
    margin-top:25px;
  }
  
  #elements .btn {
    margin-top:10px;
  }
  
  .navigation.open a {
    z-index:1000; 
    position:relative; 
    display:block;
  }
  
  #canvas-map { 
    display:none; 
  }
  
  #map {
    padding:0;
  }
  
  .location {
    background: #F1F0F0;
  }
}


@media (max-width: $break-small) { 
  #hero {
    padding-top: 2%;
    .hero-small span {
      font-size: 25px;
      display: inline-block;
      margin: 0 40px 40px;
      position: relative;
      top: 0px; 
    }
    .btn-3d { 
      margin: 0px 0px 15px 0px; 
    }
    .hero-big {
      font-size: 80px;
      text-transform: uppercase;
      line-height: 70px; 
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .hero-normal {
      font-size: 18pt; 
      margin: 0px 0px 20px 0px;
    }
    hr {
      margin: 5px 0; 
    }
  }
  
  .nav-tabs-simple { 
    margin-top:25px; 
  }
  
  #subscribe .btn {
    margin-top:25px;
  }
  
  #elements .btn {
    margin-top:10px;
  }
  .navigation.open a {
    z-index:1000; 
    position:relative; 
    display:block;
  }
  
  .navigation-bar li a, .navigation-txt { 
   text-transform: uppercase; 
  }
  
  .navigation-social li {
    padding-top: 40px;
  }
  
  .nav-tabs-simple {
    .nav-tabs .icon { 
      display: none; 
    }
    .nav-tabs li a { 
      font-size: 20px; 
      padding: 0; 
    }
    .nav-tabs.nav-justified > li { 
     display: table-cell; 
     width: 1%; 
    }
    
  }
  
  #about .col-md-5 img { 
   margin: 0 auto; 
  }
  
  #stat .counter { 
    padding-top: 30px; 
  }
  
  #canvas-map { 
    display:none; 
  }
  #map {
    padding:0;
  }
  
  .location {
    background: #F1F0F0;
  }
  
  .thumb-wrapper { 
    width: 100%; 
    margin-bottom: 30px; 
    img { 
     max-width: 100%; 
    }
  }
  
  .form-register {
   .form-group {
    margin-bottom: 10px; 
    label { 
      line-height: 30px; 
      margin-top: 15px; 
      text-align: left; 
    } 
   }
  }

  #mobileheader { 
    position: fixed; 
    width: 100%; 
    display: block; 
    z-index: 999; 
    background: rgba(37, 37, 37, .9);
    .navigation-txt { 
       position: absolute; 
       width: 100%; 
       text-align: center; 
       font-size: 18px; 
       line-height: 50px; 
       cursor: pointer; 
    }
    .navigation-bar { 
       height: 0; 
       overflow: hidden; 
       display: block; 
    }
    .open {
      .navigation-bar { 
       height: auto; 
       float: none !important; 
       clear: both; width: 100%; 
       border-top: 2px solid #fe4918;
       &:last-child { 
        border-top:none; 
        padding: 10px 0 30px 0;         
       } 
       li { 
        padding: 2px 0;         
        display: block; 
        text-align: center;
        }       
      }
    }
  }
}

/* Tablet device */
@media (max-width: $break-middle) and (min-width: 768px) {
  .nav-tabs-default .tab-pane .nav-tabs {
   li > a { 
    padding: 0 20px; 
   }
   
   .nav-justified > li > a { 
    padding:0 5px;
   }
   
  } 

  #hero .hero-big { 
   font-size: 130px; 
  }
  
  .navigation-bar-header .navigation-bar > li a { 
   padding: 0 5px; 
   font-size: 16px; 
  }
}


/* Desktop large screen */
@media (min-width: $break-large) {
	.container {
		width: 970px;
	}
}
