/*! (c) 2016 數位甜心 */

body {
  color: $brand-black; 
  background: $brand-white; 
  margin: 0;
}

body,
li.featured a {   
  font-family: $font-family-base; 
  font-weight: 100; 
  font-style: normal; 
}

p {
  font-size: $font-size-small; 
  line-height: 20pt; 
  font-weight: $font-weight-light;
}

h1 { font-size: 112px; } 
h2 { font-size: 78px; } 
h3 { font-size: 62px; } 
h4 { font-size: 50px; }
h5 { font-size: 40px; }
h6 { font-size: 30px; }

h1,h2,h3 { 
  @include font-style(100, none);
  margin: 10px 0;
  display:block;   
}

h4, h5, h6 { 
  @include font-style(100, none);
  margin: 10px 0 20px 0;
  display:block;  
}

a { 
  color: $brand-blue; 
  font-weight: $font-weight-heavy; 
  font-size: $font-size-middle;
  &:hover, a:active, a:focus { 
   color: $brand-blue; 
   text-decoration: underline; 
   outline: none; 
  }  
}

.btn, 
.hero-txt,
.navigation,
.nav-tabs li a { 
  font-family: $font-family-base;
  font-weight: 200; 
  font-style: normal; 
}

strong { 
  font-family: $font-family-base; 
  font-weight: 400; 
  font-style: normal; 
}

.hero-big { 
  font-family: $font-family-bold; 
}

hr { 
  width: 20px; 
  border-top:1px solid #337ab7; 
  .white { 
   border-color: #F3AE9B; 
  }
}

::selection { 
  background-color: #FF714A; 
  color: $brand-blue; 
}

.light { 
 color: $brand-white;
 .btn { 
  color: $brand-white; 
 }
 
 .form {
  .form-control { 
   background: transparent; 
   color: $brand-white; 
  }
 }
}

.dark { 
 color: $brand-black-second; 
}

.highlight { color: #337ab7; } 
.small {font-size:11pt;}
.hiding { opacity: 0; }
.visible { opacity: 1; }
.big {font-size:14pt;}
.center {text-align:center;}
.section { 
    min-height: 350px; 
    background-color: $brand-white; 
    padding: 50px 0;     
    overflow: hidden; 
    position: relative; 
    text-align: center;
}           
.greycolor { background: $brand-grey; }
.sub-title { font-size: 20px; }
.overlay { 
    background: $brand-black-second; 
    opacity: .8; 
    position: absolute; 
    z-index: 0; 
    top:0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    .color { 
     background: #fe4918; 
     opacity: .95;
    }
}
 
.container { 
    z-index: 1; 
    position: relative; 
}

icon-bar {
  position: relative; 
  padding: 9px 10px; 
  .icon-bar { 
   display: block; 
   width: 22px; 
   height: 2px; 
   border-radius: 1px; 
   background-color:#CCC;
   &+& {
     margin-top: 4px;
    }     
  }
}

.back-to-top {
    text-align: center;
    background: $brand-black;
    color: $brand-white;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    @include transition(all, 0.5s, ease);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 9999;
  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}






