/*! (c) 2016 數位甜心 */

//  Brand Colors
// ----------------------------------------------
$brand-black: #fff;
$brand-white: #fff; 
$brand-blue: #337ab7;
$brand-grey: #eee;
$brand-black-second: #25201f;

//  Typography
// ----------------------------------------------
$font-family-light: 'Fakt Blond', sans-serif;
$font-family-regular: 'Microsoft Yahei', sans-serif; 
$font-family-bold: 'Ubuntu', sans-serif; 
$font-family-base: $font-family-regular;

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight: 400;
$font-weight-medium: 500;
$font-weight-heavy: 600;


$font-size-large: 2.5em;
$font-size-middle: 1.5em;
$font-size-base: 1.2em;
$font-size-small: 1em;

$line-height-large: 32px;
$line-height-base: 25px;
$line-height-small: 22px;

//  BreakPoints
// ----------------------------------------------
$break-large: 1200px;
$break-middle: 991px;
$break-small: 767px;
$break-xsmall: 480px;


