/*! (c) 2016 數位甜心 */

.btn { 
 border: 1px solid #fff; 
 border-radius: 40px; 
 &:Hover { 
  opacity: 1; 
 } 
}

.btn-lg { 
 font-size: 35px; 
 padding:21px 55px; 
}

.btn-sm { 
 font-size: 20px; 
 padding:17px 43px; 
 font-weight: 600; 
 letter-spacing: 2px; 
}

.btn-center { 
 margin: auto 0;
}



