/*! (c) 2016 數位甜心 */

.form {
 .form-group { 
    margin-bottom: 25px; 
    color:#000;
    &:after { 
     content: ''; 
     display: block; 
     clear: both;
    }
    &+& { 
     margin-top: -10px; 
    } 
    label { 
     line-height: 50px; 
     margin-bottom: 0; 
     font-family: $font-family-base;
     font-weight: $font-weight-medium;
     font-size: $font-size-middle;
    }    
  }  
}

.form-register{
  background: #eee; 
  padding: 20px 15px; 
  @include border-radius(20px);
  input[type]:focus{  
   outline: 0px solid #9AADBB !important; 
  }
  .form-control { 
   color:$brand-blue !important; 
  }
  @include placeholder {
   color: $brand-blue!important; 
   font-family: $font-family-base;
  }
  &:after { 
   content: ''; 
   display: block; 
   clear: both;
  }
  .form-control { 
   border: 1px solid $brand-blue; 
   @include border-radius(10px);
   &:focus {
    border-color:#fe4918 !important; 
    outline: 1px solid #fe4918 !important; 
    border-radius: 10px !important;
   }   
  }
  .form-group {
   margin: 20px 0 45px 0;
   .checkbox { 
    margin: 0 0 -10px 0;
    label { 
     line-height: 1.42857143; 
    }    
   }   
  }
}

.form-control {
  @include border-radius(1px);
  height: 50px;
  &:focus {
   border-color: #fff !important;
   outline: 0 !important; 
   @include box-shadow-none;
  }
 }

.form-group {
  margin-bottom: 20px;
  
}

label {
 .error { 
    color: #FF4040; 
    line-height: 0px !important; 
    margin-top:10px; 
    text-align:left; 
    font-size: $font-size-small; 
 }
}

input[type=checkbox] {
   margin: 4px 15px 0 0;
   @include border-radius(0);
   -border: 1px solid #d1d8dd;
   background-color: $brand-white;
   width: 19px;
   height: 19px;
   cursor: pointer;
}

.icon {
  &:before {
    display: inline-block;
    content: "";
  }
  &.errorsign-icon:before {
    background-image: none, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33"><circle fill="#239EC9" cx="17" cy="16" r="15"/><circle fill="#FFF" cx="17.007" cy="19.631" r="1.617"/><path fill="#FFF" d="M15.49 7.307h3.036v4.125l-.744 5.097h-1.545l-.746-5.04V7.306z"/></svg>');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }
  &.errorsign-icon {
    display:none;
    bottom: 0;
    right: 0px;
    position: absolute;
    z-index: 999;   
    @media (max-width: $break-middle) {
      margin: 0 20px 2px 0;
    }
    @media (max-width: $break-large) {
      margin: 0 20px 2px 0;
    }
  }
}

/*not work in mixin*/
.form-register ::-webkit-input-placeholder { /* WebKit browsers */ color:#eee !important; font-family: 'Microsoft Yahei', sans-serif;}
.form-register :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#eee !important; font-family: 'Microsoft Yahei', sans-serif;}
.form-register  ::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#eee !important; font-family: 'Microsoft Yahei', sans-serif; }
.form-register  :-ms-input-placeholder { /* Internet Explorer 10+ */ color:#eee !important; font-family: 'Microsoft Yahei', sans-serif;}

