/*! (c) 2016 數位甜心 */

.navigation { 
  margin-left: -15px; 
  margin-right: -15px;    
}

.navigation-bar-header { 
  background: #666; 
  position: relative; 
  z-index: 1;
  .sticky { 
   position: fixed; 
   top:0; display: 
   block; 
   width: 100%; 
   z-index: 9; 
  }
}

.navigation-bar { 
  margin: 0 auto; 
  padding: 0; 
  list-style: none; 
  text-align: center; 
  display: table;
  
  li { 
  display: inline-block; 
  padding-bottom: 20px; 
  padding-top: 20px;
   a {    
    font-size: 1.5em;
    color: #337ab7; 
    display: inline-block;
    padding: 15px 10px;
    &:hover {
      color: #5bc0de; 
      text-decoration: none; 
      font-weight: 800;
    }
    .active {
     color: #5bc0de; 
     text-decoration: none; 
     font-weight: 800;
     a { 
        color: #5bc0de; 
        font-weight: 800; 
      }
    } 
    .featured {
     opacity:0;
     @include transition(all, .5s, linear);    
    }    
   }
   .featured {
      opacity:0;  
      @include transition(all, .5s, linear);
      padding: 22px 0;
      margin-right: 25px; 
      float: right; 
      i{ 
        padding-right: 10px;
       }
      a { 
          background:#5bc0de; 
          outline: 1px solid #5bc0de; 
          text-decoration: none; 
          padding-left: 10px; 
          padding-right: 15px;
          margin-left: 15px;
          font-size: 14px;
          &:hover {
            background:#5bc0de; 
            color:#337ab7; 
            outline:1px solid #5bc0de;
            }           
        }
              
    }   
  } 
}

.navigation-bar-right { 
  float: right;
  &:after { 
   content: ''; 
   clear: both; 
  }
}

.navigation-social { 
   z-index: 100; 
   position: relative;
   li { 
    padding-top: 45px; 
    padding-bottom: 15px;
    a { 
     font-size:15pt;
     padding: 0 20px;     
    }    
   }
  }

.navigation-toggle {
  position: relative;
  float: right;
  margin: 8px 15px 8px 0;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1;
  border: 1px solid;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff; 
}

.navigation-toggle .icon-bar+.icon-bar { margin-top: 4px; }


