/*! (c) 2016 數位甜心 */

.sub-list {
   list-style:none; 
   padding-left:0; 
   padding-top:5px; 
   text-align:left
}

.sub-list i {
  vertical-align: middle; 
  padding-right:25px; 
  color:#fe4918; 
  font-size: $font-size-middle;
}

.sub-list li {
   margin: 15px 0px; 
   font-weight: $font-weight-light;
}

.panel-title { 
  padding: 15px 20px; 
  > a { 
   font-size: $font-size-large; 
   font-weight: 200; 
  }
  .icon { 
   font-size: 22px; 
   margin-bottom: -7px; 
   margin-right: 5px; 
  }
  .icon-bars { 
   margin-top: -5px; 
   margin-right: -10px; 
  }
}

.panel-group {
  .panel { 
   @include border-radius(0);
   .panel-body { 
    padding: 20px; 
    padding-bottom: 10px; 
   }
   .collapse.in { 
    border-bottom: 1px solid #337ab7 !important;
   }   
  }
}

.panel-title {
 font-size: 1.5em; 
 padding: 15px 20px;
 > a { 
  font-size: $font-weight-extra-light; 
  font-weight: 200; 
 } 
}

.panel-info {
 .panel-heading {
    color: #337ab7;    
    border: 1px solid #337ab7;
    background-color: transparent;
    @include border-top-only(2em);
    +.panel-collapse>.panel-body {
    border-top-color: #bce8f1;
    background: $brand-grey;
   }
 }
}

.location {
   background: $brand-white; 
   padding: 20px 25px; 
   z-index: 1;
   ul {
    list-style:none; 
    padding-left:10px;
   }
   li {
    margin:25px 0px; 
    font-size: $font-size-middle;
    i{
     padding-right:15px; 
     font-size: $font-size-middle;
    }
   }
}
