/*! (c) 2016 數位甜心 */

#footer { 
 padding: 2em; 
 background: #25201f;
 .copyright { 
  text-align: center;
  p{ 
    color: #fff; 
    margin-top:-1em; 
  }  
 }
 .navigation-bar > li a { 
  color: #536371; 
  &:Hover, active {
    color: #fe4918; 
    text-decoration: none; 
  }
 } 
}
